.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 60px;
    background-color: #ffdbb5;
    justify-content: space-between;
    border: 2px solid;
    max-width: 250px;
    padding: 3px 8px;
    border-radius: 18px;
}

.searchInput {
    background-color: #ffdbb5;
    border: none;
    outline: none;
}
